# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/

# Variables de entorno / secretos
.env
.env.*

# Angular / Node / npm
node_modules/
dist/
.angular/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# SQLite
*.db
*.db-shm
*.db-wal

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db